{% extends 'layout.html' %}

{% block extensions %}
{{ super() }}
<script async custom-element="amp-timeago" src="https://cdn.ampproject.org/v0/amp-timeago-0.1.js"></script>
{% endblock %}

{% block body %}
{% for post in content.get('posts') %}
<div class="card">
  <a class="h3" href="{{ post.url }}">{{ post.title }}</a>
  {% set date = post.date %}
  {% include 'amp/amp-timeago.html' %}

  <div>{{ post.description }}</div>
  <a href="{{ post.url }}" class="block">Read on</a>
</div>
{% endfor %}
{% endblock %}
