{% extends 'layout.html' %}

{% block body %}
<div class="card">
  <a class="h3" href="hello-worl">Hello Worl</a>
  <amp-timeago class="block i-amphtml-layout-fixed i-amphtml-layout-size-defined" layout="fixed" width="160" height="24"
    datetime="1542585600000" locale="en" style="width:160px;height:24px;" i-amphtml-layout="fixed">Saturday 11 April
    2017 00.37</amp-timeago>

  <p>This is the beginning of a very long text...
    Here is code:
    public static void main(String[] args) {
    }
    Here is more code:
    function test() {
    console.log('hello world');
    }H1 Test
    Lorem ipsum.
    H2 Test
    Lorem ipsum.
    H3 Test
    Lorem ipsum.
  </p>
  <a href="hello-worl" class="block">Read on</a>
</div>
{% endblock %}
